## Preprocessing

In [26]:
# variables that are dropped
from helper_functions import format_variables, read_data

data_df = read_data()

to_filter = ["id", "postleitzahl", "gemeinde", "bezirk", "geburtsjahr"]
data_df, cat_feat_list, num_feat_list = format_variables(data_df, to_filter=to_filter, drop_values=True)

c:\Users\Amirreza\anaconda3\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

In [27]:
data_df

,zeit,terminal,bundesland,befinden,geschlecht,raucher,blutzucker_bekannt,cholesterin_bekannt,in_behandlung,schaetzwert_bp_sys,schaetzwert_by_dia,messwert_bp_sys,messwert_bp_dia,month,hour,day,age
0,2006-10-25 15:03:29,2,Steiermark,2,f,False,False,False,False,120.0,80.0,123.0,86.0,10,15,25,42
1,2006-08-28 17:04:07,3,Steiermark,1,f,False,False,False,False,150.0,80.0,162.0,86.0,8,17,28,53
2,2006-06-04 14:31:14,3,Steiermark,2,m,False,False,False,False,135.0,70.0,121.0,66.0,6,14,4,46
3,2006-10-13 14:50:56,3,Steiermark,5,f,False,True,True,False,120.0,80.0,122.0,70.0,10,14,13,34
4,2006-08-12 16:54:45,3,Steiermark,1,f,False,False,True,False,110.0,80.0,110.0,75.0,8,16,12,40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14826,2006-05-11 12:02:18,3,Steiermark,2,m,False,False,True,False,150.0,60.0,116.0,80.0,5,12,11,52
14827,2006-07-11 15:09:36,2,Steiermark,1,m,False,True,True,True,120.0,80.0,138.0,84.0,7,15,11,55
14828,2006-09-28 10:59:45,2,Steiermark,2,f,False,True,True,True,140.0,85.0,116.0,62.0,9,10,28,61
14829,2006-04-30 13:29:15,2,Steiermark,1,m,False,False,False,False,120.0,70.0,113.0,88.0,4,13,30,44
14830,2006-10-14 16:16:34,1,Oberösterreich,1,m,False,False,False,False,120.0,80.0,111.0,75.0,10,16,14,29

In [28]:
# Categorical features
cat_feat_list

['bundesland',
 'befinden',
 'geschlecht',
 'raucher',
 'blutzucker_bekannt',
 'cholesterin_bekannt',
 'in_behandlung']

In [29]:
import pandas as pd
import numpy as np
# Transform zeit to pandas datetime format:
data_df["zeit"] = pd.to_datetime(data_df["zeit"])

# Extract the month and the hour from the zeit variable:
data_df["month"] = data_df["zeit"].dt.month
data_df["hour"] = data_df["zeit"].dt.hour

data_df

,zeit,terminal,bundesland,befinden,geschlecht,raucher,blutzucker_bekannt,cholesterin_bekannt,in_behandlung,schaetzwert_bp_sys,schaetzwert_by_dia,messwert_bp_sys,messwert_bp_dia,month,hour,day,age
0,2006-10-25 15:03:29,2,Steiermark,2,f,False,False,False,False,120.0,80.0,123.0,86.0,10,15,25,42
1,2006-08-28 17:04:07,3,Steiermark,1,f,False,False,False,False,150.0,80.0,162.0,86.0,8,17,28,53
2,2006-06-04 14:31:14,3,Steiermark,2,m,False,False,False,False,135.0,70.0,121.0,66.0,6,14,4,46
3,2006-10-13 14:50:56,3,Steiermark,5,f,False,True,True,False,120.0,80.0,122.0,70.0,10,14,13,34
4,2006-08-12 16:54:45,3,Steiermark,1,f,False,False,True,False,110.0,80.0,110.0,75.0,8,16,12,40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14826,2006-05-11 12:02:18,3,Steiermark,2,m,False,False,True,False,150.0,60.0,116.0,80.0,5,12,11,52
14827,2006-07-11 15:09:36,2,Steiermark,1,m,False,True,True,True,120.0,80.0,138.0,84.0,7,15,11,55
14828,2006-09-28 10:59:45,2,Steiermark,2,f,False,True,True,True,140.0,85.0,116.0,62.0,9,10,28,61
14829,2006-04-30 13:29:15,2,Steiermark,1,m,False,False,False,False,120.0,70.0,113.0,88.0,4,13,30,44
14830,2006-10-14 16:16:34,1,Oberösterreich,1,m,False,False,False,False,120.0,80.0,111.0,75.0,10,16,14,29

In [30]:
data_df["terminal"] = np.where(data_df["month"].astype('int') <= 6, "3a", "3b")

data_df

,zeit,terminal,bundesland,befinden,geschlecht,raucher,blutzucker_bekannt,cholesterin_bekannt,in_behandlung,schaetzwert_bp_sys,schaetzwert_by_dia,messwert_bp_sys,messwert_bp_dia,month,hour,day,age
0,2006-10-25 15:03:29,3b,Steiermark,2,f,False,False,False,False,120.0,80.0,123.0,86.0,10,15,25,42
1,2006-08-28 17:04:07,3b,Steiermark,1,f,False,False,False,False,150.0,80.0,162.0,86.0,8,17,28,53
2,2006-06-04 14:31:14,3a,Steiermark,2,m,False,False,False,False,135.0,70.0,121.0,66.0,6,14,4,46
3,2006-10-13 14:50:56,3b,Steiermark,5,f,False,True,True,False,120.0,80.0,122.0,70.0,10,14,13,34
4,2006-08-12 16:54:45,3b,Steiermark,1,f,False,False,True,False,110.0,80.0,110.0,75.0,8,16,12,40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14826,2006-05-11 12:02:18,3a,Steiermark,2,m,False,False,True,False,150.0,60.0,116.0,80.0,5,12,11,52
14827,2006-07-11 15:09:36,3b,Steiermark,1,m,False,True,True,True,120.0,80.0,138.0,84.0,7,15,11,55
14828,2006-09-28 10:59:45,3b,Steiermark,2,f,False,True,True,True,140.0,85.0,116.0,62.0,9,10,28,61
14829,2006-04-30 13:29:15,3a,Steiermark,1,m,False,False,False,False,120.0,70.0,113.0,88.0,4,13,30,44
14830,2006-10-14 16:16:34,3b,Oberösterreich,1,m,False,False,False,False,120.0,80.0,111.0,75.0,10,16,14,29